/node_modules
/public/hot
/public/storage
/public/img/cooking.png
/public/img/logo.png
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/resources/views/pos/Print.blade.php
/resources/views/pos/PrintOrder.blade.php
/resources/views/pos/PrintPay.blade.php
/resources/views/pos/Print2.blade.php
/resources/views/pos/PrintA4.blade.php
/resources/views/pos/Refund.blade.php
/resources/views/pos/Waiter.blade.php